.work__slider 
    .work__slider-info 
        .work__slider-title
            .about__left-title.about__left-title--small.work__slider-title  сайт школы онлайн образования
        .work__slider-desc HTML, CSS, JAVASCRIPT
        .work__slider-prev 
            a(href="http://").work__slider-prev-link
                .work__slider-prev-logo
                    img(src="../source/pages/work/images/link.png", alt="link.png").work__slider-prev-img
                    .work__slider-prev-desc Посмотреть сайт 
    .work__slider-display
        .work__slider-display-logo
            img(src="../source/commons/slider/images/untitled-1.png", alt="").work__slider-display-img 
    .work__slider-buttom
        .work__slider-buttom-left
            .work__slider-buttom-left-logo
                img(src="../source/commons/slider/images/untitled-1.png", alt="",).work__slider-buttom-left-logo--img
        .work__slider-buttom-right
            .work__slider-buttom-right-logo
                img(src="../source/commons/slider/images/untitled-1.png", alt="",).work__slider-buttom-right-logo--img