extends ../base
block head
    title work
block content
    include ../../commons/navigations/navigations
    section.section.main
        .main__header 
            .greetings__logo
                img.greetings__logo--img(src="../source/pages/index/images/my-photo.png", alt="my-photo")
            .about__left-title.about__left-title--blog Блог
            .greetings__title Статьи, которые я написал
        .main__arrow-down
            a(href="http://").main__arrow-down-link
                img(src="../source/pages/about/images/arrow-down.png", alt="arrow-down").main__arrow-down-img
        include ../../commons/hamburger/hamburger
    main.blog
        <div class="box">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="traingle">
                <polygon class = "left" points="0,0   0,86   500.8,86   500.8,75.5"></polygon>
                 <polygon class = "right" points="1000,0   1000,86   500,86   500,75.5"></polygon>
            </svg>
        </div>
        .blog__container 
            .blog__content 
                nav.blog__nav
                    ul.blog__nav-list
                        li.blog__nav-item.blog__nav-item--active   
                            a(href="http://").blog__nav-link  Самое важное в SASS
                        li.blog__nav-item   
                            a(href="http://").blog__nav-link  Приёмы в вёрстке, без которых не обходится ни один сайт
                        li.blog__nav-item   
                            a(href="http://").blog__nav-link  Самый необходимый набор Gulp плагинов
                        li.blog__nav-item   
                            a(href="http://").blog__nav-link  Почему я выбрал Jade
                .blog__desc
                    ul.blog__desc-list 
                        li.blog__desc-item
                        
                                .blog__desc-title Самое важное в SASS
                                .blog__desc-date 22 ноября 2016
                                .blog__desc-article Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                        li.blog__desc-item
                            
                                .blog__desc-title Приёмы в вёрстке, без которых не обходится ни один сайт
                                .blog__desc-date 13 ноября 2016
                                .blog__desc-article Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
        include ../../commons/footer/footer