.footer
    .footer__row-up
        ul.footer__row-up-list 
            li.footer__row-up-item.footer__row-up-item--desc
                .footer__row-up-desc Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
            li.footer__row-up-item.footer__row-up-item--menu
                .footer__row-up-desc Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
            li.footer__row-up-item.footer__row-up-item--last.footer__row-up-item--comment
                .footer__row-up-desc.footer__row-up-desc--last Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
                .footer__row-up-desc.footer__row-up-desc--author — Martin Goldin
        .footer__row-down
            .footer__row-up-desc © Лепин Денис | Создано с любовью в LoftSchool | 2016
        