section.navigations
    ul.navigations__list
        li.navigations__item
            a(href='').navigations__item-link мои работы
        li.navigations__item
            a(href='').navigations__item-link блог
        li.navigations__item
            a(href='').navigations__item-link обо мне
        li.navigations__item
            a(href='').navigations__item-link авторизация